---
layout: home
permalink: /404
---

<strong><span id="error-message"></span></strong>
<ul id="link-list"></ul>

<script>
// HACK: this whole thing is a bit... hacky
//
// It works by essentially embedding this script into a 404 page and using
// javascript to redirect the user to another site, essentially doing
// client-side redirects.
//
// In an ideal world, we wouldn't need this, but GitLab pages doesn't, as of
// yet, support doing 301 redirects, so we hack it like this!

const redirects = {
    {% for redirect in site.data.redirects %}
    "{{ redirect.source }}": "{{ redirect.destination }}",
    {% endfor %}
};

let pathname = window.location.pathname;

let lookup = redirects[pathname];
if (lookup) {
    // direct match found
    window.location = lookup;
} else {
    // ensure slash at end of pathname
    if (!pathname.endsWith('/')) {
        pathname += '/';
    }

    // build up a link directory of possibilities
    let listing = [];
    for (let redirect of Object.keys(redirects)) {
        if (redirect.startsWith(pathname)) {
            listing.push(redirect);
        }
    }

    if (listing.length == 0) {
        // could not find any matches
        document.addEventListener('DOMContentLoaded', () => {
            return renderError("404 - page not found");
        });
    } else {
        // show link directory
        document.addEventListener('DOMContentLoaded', () => {
            return renderError(pathname);
        });
        document.addEventListener('DOMContentLoaded', () => {
            renderLinkList(listing)
        });
    }
}

function renderError(message) {
    let error = document.getElementById('error-message');
    error.innerText = message;
}

function renderLinkList(links) {
    let linkList = document.getElementById('link-list');
    for (let link of links) {
        let linkElement = document.createElement('a');
        linkElement.innerText = link.substring(pathname.length);
        linkElement.setAttribute('href', redirects[link]);

        let listElement = document.createElement('li');
        listElement.appendChild(linkElement);
        linkList.appendChild(listElement);
    }
}
</script>
