<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{ page.title }}</title>

    {%- if site.listen_for_clients_preferred_style -%}
    <link rel="stylesheet" type="text/css" href='{{ "/assets/main.css" | relative_url}}'> {%- else -%} {%- if site.style == 'light' -%}
    <link rel="stylesheet" type="text/css" href='{{ "/assets/main-light.css" | relative_url }}'> {%- else -%}
    <link rel="stylesheet" type="text/css" href='{{ "/assets/main-dark.css" | relative_url }}'> {%- endif -%} {%- endif -%}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <link href='{{"/assets/calendar/core.css" | relative_url}}' rel='stylesheet' />
    <link href='{{"/assets/calendar/daygrid.css" | relative_url}}' rel='stylesheet' />
    <link href='{{"/assets/calendar/list.css" | relative_url}}' rel='stylesheet' />
    <script src='{{"/assets/calendar/core.js" | relative_url}}'></script>
    <script src='{{"/assets/calendar/interaction.js" | relative_url}}'></script>
    <script src='{{"/assets/calendar/daygrid.js" | relative_url}}'></script>
    <script src='{{"/assets/calendar/list.js" | relative_url}}'></script>
    <script src='{{"/assets/calendar/gcal.js" | relative_url}}'></script>

    {%- if jekyll.environment == 'production' and site.google_analytics -%} {%- include google-analytics.html -%} {%- endif -%}


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            function mobileCheck() {
                if (window.innerWidth >= 768) {
                    return false;
                } else {
                    return true;
                }
            };

            var calendar = new FullCalendar.Calendar(calendarEl, {

                plugins: ['interaction', 'dayGrid', 'list', 'googleCalendar'],

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listYear'
                },

                views: {
                    listView: {
                        type: 'listMonth',
                    }
                },

                /* Choose view when initialize */
                defaultView: mobileCheck() ? "listView" : "dayGridMonth",
                /* Check if window resize and add the new view */
                windowResize: function(view) {
                    if (window.innerWidth >= 768) {
                        calendar.changeView('dayGridMonth');
                    } else {
                        calendar.changeView('listMonth');
                    }
                },

                displayEventTime: false, // don't show the time column in list view

                googleCalendarApiKey: 'AIzaSyDpu2ZEXakNHH0Lh3bfkNsn36JWHb7cb9Q  ',

                //events: '9goc0fh70i0aanidu938cgmbnk@group.calendar.google.com',
                events: 'afnom.uob@gmail.com',

                eventClick: function(arg) {
                    // opens events in a popup window
                    window.open(arg.event.url, 'google-calendar-event', 'width=700,height=600');

                    arg.jsEvent.preventDefault() // don't navigate in main tab
                },

                loading: function(bool) {
                    document.getElementById('loading').style.display =
                        bool ? 'block' : 'none';
                }

            });

            calendar.render();
        });
    </script>

</head>
