<div class="image-gallery">
    {% for file in site.static_files %} {% if file.path contains include.folder %} {% unless file.path contains "thumbs" %} {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %} {% assign filenameparts
    = file.path | split: "/" %} {% assign filename = filenameparts | last | replace: file.extname,"" %} {% assign thumbfile = include.folder | append: "/thumbs/" | append: file.name %}

    <a href="{{ file.path | relative_url }}" target="_new" title="{{ filename }}">
        <img src="{{ thumbfile | relative_url }}" target="_new" alt="{{ filename }}" />
    </a>
    {% endif %} {% endunless %} {% endif %} {% endfor %}
</div>