--- 
layout: default 
--- 

<div >{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} </div>
<h2> {{ page.title }} </h2>

{{ content }}
